<% content_for :head do -%>
  <%= stylesheet_link_tag 'home' %>
<% end -%>

<div class="starter-template">
  <h1>About this project</h1>
  <p class="lead">This is a base template using Ruby 2.1.0, Rails 4.1.1, and Bootstrap 3.1.1.</p>
</div>